:root {
  --font-default: var(--font-baloo), sans-serif;
}

body, * {
  font-family: var(--font-default) !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #171717;
  background: #7f4ed522;
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

label.Mui-focused{
  color: #7f4ed5 !important;
}

label.Mui-focused > span{
  color: #7f4ed5 !important;
}
